#contact {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  > section {
    background-color: $color1;
    width: 100%;
    height: 100%;

    > form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      > h2 {
        text-align: center;
        font: 100 2.5rem $text1;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 2rem;
        border-bottom: 2px solid $color5;
        padding: 0.5rem;
      }

      > input,
      > button {
        padding: 0.8rem;
        width: 40%;
        outline: none;
        font: 400 0.9rem $text1;
        margin: 1rem;
        border: none;
      }
      > button {
        cursor: pointer;
        background-color: $color3;
        color: $color4;
        font: 500 1rem $text1;
        text-transform: uppercase;
        margin: 2rem;
        letter-spacing: 1px;
        transition: all 0.3s;

        &:hover {
          background-color: $color3_1;
        }
      }
    }
  }
  > aside {
    width: 100%;
    height: 100%;
    background-color: $color5;
    display: grid;
    place-items: center;

    img {
      width: 70%;
      height: 70%;
      object-fit: contain;
      filter: drop-shadow(0 0 10px rgba(51, 255, 0, 0.767)) hue-rotate(-215deg);
      animation: upupdowndown .7s infinite linear alternate;
    }
  }
}
